h1 {
  text-align: center;
  font-family: open Sans, arial, sans-serif;
  color: #33485e;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3em;
}
h2 {
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  weight: 400;
}
h3 {
font-size: 1.5em;
weight: 700;
}
