.headline h2 {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.75em;
  line-height: 180%;
  padding-bottom: 30px;
  font-style: italic;
}

h1 {
  margin: auto;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  width: 100%;
}

span {
  font-family: 'PT Serif', serif;
  color: black;
  font-size: 3em;
  font-style: italic;
}


span-1 {
  color: red;
}

span-2 {
  color: orange;
}

span-3 {
  color: yellow;
}

span-4 {
  color: green;
}

span-5 {
  color: #00bfff;
}

h3 {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.container{
  margin: auto;
}

.logo-image {
  width: 50px;
  display: inline;
  clear: none;
}

.navbar-brand{
  font-size: 1.5em;
  font-family: 'Times-New-Roman', serif;
  margin-left: 5px;
  font-style: italic;
}

figure {
  margin: auto;
  text-align: center;
}


.caption {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  color:#999;
  text-align: left;
}

.footer{
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

a:link{
  color: #e0162b
  text-decoration:none;
}

a:visted {
  color: #999;
  text-decoration:none;
}

a:hover {
  color: #0052a5;
  text-decoration:none;
}

p {
  font-family: 'PT Serif', serif;
  color: black;
  font-size: 1em;
  margin-bottom: 25px;

}

.hero-image {
  width: 100%;
  margin:auto;
  text-align: top;
}

.stack-image {
  width: 100%;
  margin:0 auto;
  padding-top: 30px;
  display: block;
  max-width: 900px;
}

.icon {
  margin: 25px auto ;
  width: 15px;
  padding-right: 5px;
}

hr {
  max-width: 900px;
}

.intro-text p {
  line-height: 180%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  margin: 25px auto;

}

.bg-dark {
  background:#000 !important;
}

ul.navbar-nav {
  margin-left: auto;
}

.navbar{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1.15em;
  margin-left: auto;
}

.graphic-container h4 {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  color: #444;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #cdcdcd;
  margin: 0 auto;

}
