#content{
  font-family: "open sans", arial, sans-serif;
  margin: 0 auto;
  max-width: 900px;
}
.banner{
  font-family: "open sans", arial, sans-serif;
  background-color:#8FBC8F;
  margin: 0 auto;
  display: block;
}
#byline{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-style:italic;
}
.caption{
  font-size: 12px;
  font-color: gray;
  font-style: italic;
}
.container{
  margin-bottom: 10px;
}
.blockquote{
  font-size: 32px;
  font-style: italic;
}
.author-attribution{
  font-size: 12px;
  font-style: italic;
  font-color: gray;
  margin-left: 50px;
}
