.headline{
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}

.container{
  margin: auto;
}

.byline {
  margin-left: 10px;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

figcaption{
  color: gray;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
}

a:link{
  color: blue;
  text-decoration:none;
}

a:visted {
  color: purple;
  text-decoration:none;
}

a:hover {
  color: purple;
  text-decoration:none;
}

body {
  font-family: 'PT Serif', serif;
}
