.headline{
  margin: auto;
  font-family: Garamond, serif;
  text-align: center;
}

.container{
  margin: auto;
}

.byline {
  margin-left: 10px;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
}

figcaption{
  color: gray;
  font-style: italic;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
}

a:link{
  color: blue;
}

a:visted {
  color: purple;
  text-decoration:underline;
}

a:hover {
  color: purple;
}
